<footer>
        <div id="exclusive">
            <p>Exclusive</p>
            <p>Subscribe</p>
            <input type="text" placeholder="Enter Your E-mail" />
        </div>
        <div id="support">
            <p>Support</p>
            <ul>
                <li>Help Center</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div id="account">
            <p>Account</p>
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </div>
        <div id="quickLinks">
            <p>Quick Links</p>
            <ul>
                <li>Shop</li>
                <li>Custom</li>
                <li>FAQ</li>
            </ul>
        </div>
    </footer>

    <script>
        function profileViewModal(){
            document.getElementById('profileViewModal').style.display = 'block';
        }

        function closeViewModal(){
            document.getElementById('profileViewModal').style.display = 'none';
        }


        function showModel() {
            document.getElementById('modelViewer').style.display = 'block';
        }

        function hideModel() {
            document.getElementById('modelViewer').style.display = 'none';
        }
    </script>
</body>
</html> 

  

