 body {
     background-image: url(/images/signupimage.jpeg);
     font-family: 'Poppins', sans-serif;
 }

 .auth-container {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }




 .auth-form-container {
     background: rgba(255, 255, 255, 0.1);
     padding: 30px;
     border-radius: 10px;
     width: 100%;
     max-width: 400px;
     backdrop-filter: blur(10px);
 }

 .form-header {
     text-align: center;
     margin-bottom: 20px;
 }

 .form-header img {
     width: 100px;
 }

 .form-header h1 {
     font-size: 28px;
     font-weight: 600;
     letter-spacing: 2px;
     color: #141414;
 }

 .form-body form {
     display: flex;
     flex-direction: column;
     gap: 12px;
 }

 .form-body label {
     font-size: 13px;
     color: #fff;
 }

 .form-body input {
     padding: 10px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 4px;
     background-color: rgba(255, 255, 255, 0.2);
     color: #fff;
 }

 .form-body button {
     padding: 10px;
     background-color: #61030e;
     color: #fff;
     font-weight: bold;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .switch-link {
     margin-top: 15px;
     text-align: center;
 }

 .switch-link a {
     color: #fff;
     font-size: 13px;
     text-decoration: underline;
 }

.login-link {
  color: #000;
  text-decoration: none;
  font-size: 14px;       /* smaller text */
  display: block;        /* makes centering work */
  text-align: center;    /* centers the text */
  margin-top: 10px;      /* moves it slightly down */
}




 .login-link:hover {
     color: #000;
     text-decoration: none;
 }

 .google-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 40px;
     background-color: #ffffff;
     border: 1px solid #ccc;
     border-radius: 50px;
     font-size: 14px;
     color: #444;
     text-decoration: none;
     margin-top: 15px;
     transition: background-color 0.3s ease;
 }

 .google-btn:hover {
     background-color: #f0f0f0;
 }

 .google-btn img {
     height: 20px;
     margin-right: 10px;
 }
 .error-message{
    color: red;
    font-size: 0.75rem;
    display: none;
 }


 @media (max-width: 600px) {
     .auth-form-container {
         margin: 0 15px;
     }
 }
 


 .password-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.password-wrapper input {
    width: 87%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: rgba(255, 255, 255, 1);
}