<%-include("../../views/partials/user/header")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
     <link rel="stylesheet" href="/css/page404.css" />
  
</head>
<body>
    <h1>404. <span>Error occurred.</span></h1>
    <div class="error-image">
        <span class="blue">4</span>
        <span class="yellow">0</span>
        <span class="blue">4</span>
    </div>
    <p>Woops. Looks like this page doesn't exist.</p>
 <a href="/" class="btn-home">Back to Home</a>
</body>
</html>
<%-include("../../views/partials/user/footer")%>