    </div> <!-- close main-content -->
    <footer class="text-center mt-5 mb-3">
        &copy; <%= new Date().getFullYear() %> ElectroMania
    </footer>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="/js/adminDashboard.js"></script>
</body>
</html>

